name: SSH

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.ref }}-${{ github.job }}
  cancel-in-progress: true

jobs:
  ssh-vds:
    environment: vds
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@v1.2.5
        with:
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -x
            lsb_release -a
            cd ~/git/sys-prom-exporter
            git reset --hard
            git pull
            ~/.nvm/nvm-exec pnpm i
            systemctl restart sys-exporter.service

  ssh-opi:
    environment: opi
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@v1.2.5
        with:
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -x
            lsb_release -a
            cd ~/git/sys-prom-exporter
            git reset --hard
            git pull
            ~/.nvm/nvm-exec pnpm i
            sudo systemctl restart sys-exporter.service
